<!DOCTYPE html>

<html>
  <head>
    <title>Evi</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body class="body">
    <%= render 'shared/navigation' %>
    <%= yield %>
  </body>
  <div class=bottom>
<ul>
  <li><a class="socialIcon"><img src="https://child-health-research.centre.uq.edu.au/files/3215/facebook-ios-logo.png"</a></li>
  <li><a class="socialIcon"><img src="http://www.robsentse.nl/images/linkedin-icon.png"</a></li>
  <li><a class="socialIcon"><img src="https://s-media-cache-ak0.pinimg.com/236x/c9/c7/d2/c9c7d2866998d6d093ce8de4d9628a86.jpg"</a></li>
  <li><a class="socialIcon"><img src="https://cdn.shopify.com/s/files/1/1213/2078/files/instagram_yeni_logo_app_2-300x300.png?14724710873011561458"</a></li>
</ul>
  </div>
</html>
